<div class="row">
    <div class="col">
        <h5>CPU</h5>
        <div>
            <% if (builds.parts.cpu != null) { %>
                <%= builds.parts.cpu %>
            <% } else { %>
                Select New
            <% } %>
        </div>
        <% if (builds.parts.cpu != null)  { %>
            <form method="post" action="/removePart">
                <input type="hidden" name="partToRemove" value="cpu">
                <input type="hidden" name="build" value='<%=current_build%>'>
                <input type="submit" value="-" class="btn btn-danger""> 
            </form>
        <% } else { %>
            <button class="btn btn-success">+</button>
        <% } %>
    </div>
</div>