<div class="form-group general-margin">
    <label for="<%= field %>"><%= field %>:</label>
    <input type="text" class="form-control title-margin" id="<%= field_answer %>" name="<%= field_answer %>" required>
</div>