<footer>
    <div class="container-fluid justify-content-around text-center">
        <a href="#">
            <img class="icons misc" src="/public/icons/previous_page.svg" alt="prev page icon">
        </a>
        <a href="#">
            <img class="icons misc"src="/public/icons/home.svg" alt="home page icon">
        </a>
        <a href="#">
            <img class="icons misc" src="/public/icons/options.svg" alt="options icon">
        </a>
    </div>

</footer>

</body>
</html>