<footer id="icon-bar" class="fixed-bottom">
    <div class="row container-fluid justify-content-around text-center bottom-iconbar-opaque">
        <!-- Back Button  -->
    <div class="col-3">
        <a href="#" onclick="window.history.back();">
            <img class="icons" src="icons/back.png" alt="back button icon">
        </a>
    </div>

        <div class="col-3">
            <!-- Home Button  -->
            <a href="/" id="homeButtonBottom">
                <img class="icons" src="icons/home.png" alt="home button icon">
            </a>
        </div>
        <div class="col-3">
            <!-- Options Button  -->
            <a href="#">
                <img class="icons" src="icons/options.png" alt="icon button icon">
            </a>
        </div>
    </div>

</footer>

</body>

</html>