<div id="loading_window">
    <h1><%= message %> using AI</h1>
    <div id="rotating_container">
        <img src="images/knuckles.png" alt="">
        <p id="circle_text">PCRigger PCRigger PCRigger</p>
    </div>
    
</div>

