<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

Our simple navbar partial
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <div class="col-9">
            <a class="navbar-brand" href="#">
                <h1>
                    PCRigger
                </h1>
            </a>
        </div>
        <div class="col-3">
            //create a button with an icon svg for user profile 
            <a href="#">
                 <img class="user-profile-img misc" src="/public/icons/user_profile.svg" alt="user profile img"> 
            </a>

        </div>
    </div>
  </nav>

  
</body>
</html>