<form method="post" action="/filterParts" class="text-left">
    <input type="hidden" name="page" value='<%=page + 1%>'>
    <input type="hidden" name="formId" value='<%=partCategory%>'>
    <input type="hidden" name="build" value='<%=build%>'>
    <input type="hidden" name="query" value='<%=query%>'>
    <input type="submit" value="Next Page" class="btn btn-primary">
</form>
