<div class="container-fluid" id="search_bar">
    <form action="/searchPart" class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Example: intel i9-9900k" aria-label="Search" aria-describedby="search-button" name="partName">
      <input type="hidden" name="partCategory" value="<%= partCategory %>">
      <button class="btn btn-outline-secondary" type="submit" id="search-button">Search</button>
    </form>        
    </div>