<form action='/<%= route %>' method="post">
    <input type="hidden" name="formId" value="<%= formid %>">
    <input type="submit" value='<%= description %>' class="form-control btn-primary"/>
</form>