<%thisPart = JSON.parse(currentPart)%>

<div class="container-fluid">
    <div class="card" style="margin: 3%;">
    <div class="card-body d-flex justify-content-between align-items-center">
        <div>

        <form action="/specs" method="POST">
            <input type="hidden" name="part" value='<%= JSON.stringify(thisPart) %>'>
            <h5 class="card-title font-weight-bold"><button type="submit" class="btn">
                Part name: <%= thisPart.driveName %>
            </button></h5>
        </form>

        <p class="card-text">Drive Type: <%= thisPart.type %> </p>
        <p class="card-text">Capacity: <%= thisPart.diskCapacity %> GB</p>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Choose
        </label>
        </div>
    </div>
    </div>
</div>