<%- include("partials/navbar") %>
<<<<<<< HEAD
    <br>
    <div class="d-flex align-items-center justify-content-center">
        <div class="text-center">
            <h1 class="display-1 fw-bold">404</h1>
            <p class="fs-3"> <span class="text-danger">Oops!</span> Page not found.</p>
            <p class="lead">
                The page you’re looking for doesn’t exist.
            </p>
            <a href="/" class="btn btn-primary">Go Home Dumbfuck</a>
        </div>
    </div>

    <%- include("partials/iconbar") %>
=======
<div class="d-flex align-items-center justify-content-center">
    <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3"> <span class="text-danger">Oops!</span> Page not found.</p>
        <p class="lead">
            The page you’re looking for doesn’t exist.
        </p>
        <a href="/" class="btn btn-primary" onclick="openWikiHow()">Go Back</a>
    </div>
</div>

<%- include("partials/iconbar") %>

<script>
    function openWikiHow() {
        window.open("https://www.wikihow.com/Use-the-Internet", "_blank");
    }
</script>
>>>>>>> 978feeac3c1c5d71d4e6f58e7cbdba8ddb80a441
