<%- include("partials/navbar") %>
    <br>
    <div class="d-flex align-items-center justify-content-center">
        <div class="text-center">
            <h1 class="display-1 fw-bold">404</h1>
            <p class="fs-3"> <span class="text-danger">Oops!</span> Internal Server Error.</p>
            <p class="lead">
                <br>
                Sorry, your request led to an internal server error. It's probably not your fault, try again!
            </p>
            <a href="/" class="btn btn-primary">Go Home</a>
        </div>
    </div>

    <%- include("partials/iconbar") %>