<%- include('partials/navbar') %>

    <main>
        <h1>PCRigger, riggs that Fuxk!</h1>
        <h4>Extra Secure Admin Credentials</h4>
        <h4>Username: Admin</h4>
        <h4>Password: PCRigger</h4>
    </main>

    <a href="/admin" class="btn btn-primary mt-3">Admin Page</a>

    <a href="/login" class="btn btn-primary mt-3">Login</a>

    <a href="/signUp" class="btn btn-primary mt-3">Sign Up</a>

    <a href="/signOut" class="btn btn-primary mt-3">Sign Out</a>

    <!-- Add a home button -->

    <%- include('partials/iconbar') %>