<%- include("partials/navbar") %>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h1 class="general-margin button-margin">Sign In</h1>
                <form method="post" action="/login">
                    <div class="form-group login-margin">
                        <label for="username" class="login-margin">Username:</label>
                        <input type="text" class="form-control login-margin" id="username" name="username" required>
                    </div>
                    <div class="form-group class="login-margin">    
                        <label for="password" class="login-margin">Password:</label>
                        <input type="password" class="form-control login-margin" id="password" name="password" required>
                        <a href="/email_confirm" class="login-margin" style="color:white">Forgot Password?</a>
                    </div>
                    <div class="d-flex justify-content-center general-margin">
                        <a href="/" class="btn btn-secondary button-padding button-margin">Home</a>
                        <button type='submit' class="btn btn-primary button-padding button-margin">Submit</button>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>
    <%- include("partials/iconbar") %>