<%- include("partials/navbar") %>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h1 class="general-margin">Sign In</h1>
                <form method="post" action="/login">
                    <div class="form-group class="general-margin"">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group class="general-margin"">    
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                        <a href="/email_confirm" style="color:white">Forgot Password?</a>
                    </div>
                    <div class="d-flex justify-content-center general-margin">
                        <a href="/" class="btn btn-secondary button-padding button-margin">Home</a>
                        <button type='submit' class="btn btn-primary button-padding button-margin">Submit</button>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>
    <%- include("partials/iconbar") %>