<%- include ('partials/navbar') %>

    <div class="container-fluid">
        <h1>
            Component Type to Compare
        </h1>
    </div>

    <div class="container-fluid">
        <form  class="general-margin" action='/parts' method="post">
            <input type="hidden" name="formId" value="gpu">
            <input type="submit" value='GPU' class="form-control btn-primary" />
        </form>

        <form class="general-margin" action='/parts' method="post">
            <input type="hidden" name="formId" value="cpu">
            <input type="submit" value='CPU' class="form-control btn-primary" />
        </form>

        <form class="general-margin" action='/parts' method="post">
            <input type="hidden" name="formId" value="memory">
            <input type="submit" value='Memory' class="form-control btn-primary" />
        </form>

        <form class="general-margin" action='/parts' method="post">
            <input type="hidden" name="formId" value="cpucoolers">
            <input type="submit" value='CPU Coolers' class="form-control btn-primary" />
        </form>

        <form class="general-margin" action='/parts' method="post">
            <input type="hidden" name="formId" value="motherboards">
            <input type="submit" value='Motherboards' class="form-control btn-primary" />
        </form>

        <form class="general-margin" action='/parts' method="post">
            <input type="hidden" name="formId" value="storage">
            <input type="submit" value='Storage' class="form-control btn-primary" />
        </form>

        <form class="general-margin" action='/parts' method="post">
            <input type="hidden" name="formId" value="powersupplies">
            <input type="submit" value='Power Supplies' class="form-control btn-primary" />
        </form>

        <form class="general-margin" action='/parts' method="post">
            <input type="hidden" name="formId" value="cases">
            <input type="submit" value='Cases' class="form-control btn-primary" />
        </form>
    </div>





    <%- include('partials/iconbar') %>