<%- include ('partials/navbar') %>

<div class="container-fluid">
    <h1>
        Component Type to Compare 
    </h1>
</div>

<form action='/parts' method="post">
    <input type="hidden" name="formId" value="gpu">
    <input type="submit" value='gpu' class="form-control btn-primary"/>
</form>





<%- include('partials/iconbar') %>