<%- include("partials/navbar") %>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h1 class="general-margin">Security questions</h1>
                <form method="post" action="/recovery_questions">
                    <% userData = JSON.stringify(user)%>
                    <input type="hidden" value='<%=userData%>' name="userData">
                    <% let i=1; %>
                    <% for(i=1; i <= 3; i++) { %>
                        <%- include('partials/form_group', 
                        {
                            field: user['security_question_' + i],
                            field_answer: 'security_answer_' + i
                    }) %>
                    <% } %>
                    <div class="d-flex justify-content-center general-margin">
                        <a href="/" class="btn btn-secondary button-padding button-margin">Home</a>
                        <button type='submit' class="btn btn-primary button-padding button-margin">Submit</button>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>
<%- include("partials/iconbar") %>