<%- include("partials/navbar") %>

    <form method="post" action="/signOut">
        <button type="submit" class="btn btn-danger mt-3">Sign Out</button>
    </form>
    <%- include("partials/iconbar") %>