<%
let memSizeValue = 0

if (query) {
    query = JSON.parse(query)
    console.log(query)
    if (query.diskCapacity) {
    memSizeValue = parseInt(query.diskCapacity['$gte'])
}
}
%>


<div class="container text-center">
    <div class="row">
        <h5>Filter Results</h5>
        <form action="/filterParts" method="post">
            <div class="container">
                <input type="hidden" value='<%= build%>' name="build">
                <input type="hidden" value='<%= partCategory%>' name="formId">

                <label for="diskCapacity">Capacity: <span id="memSizeValue"><%=memSizeValue%> GB or more</span></label><br>
                <input type="range" min="0" max="3072" step="128" id="diskCapacity" name="diskCapacity" value='<%=memSizeValue%>'>

                <br>
                <input type="submit" value='Apply Filters' class="form-control btn-primary"/>
            </div>
        </form>
    </div>
</div>


<script>
    console.log("poggers")
    const memSizeSlider = document.getElementById('diskCapacity');
    const memSizeValue = document.getElementById('memSizeValue');

    memSizeSlider.addEventListener('input', () => {
    memSizeValue.textContent = memSizeSlider.value + " GB or more";
    });
</script>