:root {
    --bg-color: #1C1D23;
    --text-color-white: #FFFFFF;
    --subtext-color-light-grey: #868785;
    --heading-color-burgundyish: #D45A48;
    --primary-btn-color-blue: #2474A1;
    --hovered-btn-color-tropblu: #4BBDAC;
    --misc-color-turqblu: #336E6F;
}




body {
    background-color: var(--bg-color);
    color: var(--text-color-white);
    margin-bottom: 45px;
}

.subtext {
    color: var(--subtext-color-light-grey);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color-burgundyish);
}

.btn-primary {
    background-color: var(--primary-btn-color-blue);
    color: var(--text-color-white);
}

.btn-secondary {
    background-color: var(--subtext-color-light-grey);
    color: var(--text-color-white);
}

.btn-primary:hover {
    background-color: var(--hovered-btn-color-tropblu);
}

.btn-warning:hover {
    background-color: #8df676;
}

.btn-success:hover {
    background-color: #1d5b0f;
}

.configurator-button-width {
    width: 220px;
}

.partTitleButton {
    color: black !important;
    font-weight: bold !important;
    margin-bottom: 15px;
}

.partTitleButton:hover {
    color: var(--primary-btn-color-blue) !important;
}

.misc {
    color: var(--misc-color-turqblu);
}



/* //////////////////////////////
            Partials 
////////////////////////////// */
.navbar {
    border-bottom: 2px solid var(--misc-color-turqblu);
    background-color: #525252;
}

.nav-link:hover {
    color: #D45A48 ! important;
}

.offcanvas {
    border-bottom: 2px solid var(--misc-color-turqblu);
    background-color: #525252;
}

.offcanvas-header {
    border-bottom: 2px solid var(--misc-color-turqblu);
    background-color: #1C1D23;
}

/* User icon */
.navbar-icons {
    fill: var(--misc-color-turqblu);
    width: 60%;
    height: 60%;
}

#icon-bar {
    margin-top: 20%;
    z-index: 9999;
}

.icons {
    margin: 10%;
    fill: var(--misc-color-turqblu);
    width: 40%;
}

.button-padding {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.profile-buildcard-padding {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.button-margin {
    margin: 20px;
}

.general-margin {
    margin-top: 20px;
}

.general-padding {
    padding: 10%;
}

.title-margin {
    margin-top: 5px
}

.saved-build-container {
    position: relative;
    display: inline-block;
    /* margin: 10px; */
    width: 100%;
    max-width: 400px;
    /* Change this to the maximum width you want the container to be */
    margin-bottom: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.btn-custom {
    width: 500px;
    height: 80px;
}

.trash-can-container {
    position: absolute;
    width: 10%;
    bottom: 0.5%;
    left: 90%;
    border-bottom-right-radius: 18%;
}

.edit-button-container {
    position: absolute;
    width: 10%;
    bottom: 0.5%;
    /* right: 50; */
    left: 80%;
}

.saved-build-container-changeName {
    display: flex;
    align-items: center;
    display: relative;
    background: #d9d6d6;
    max-width: 200px;
    margin-left: 2px;
    border-radius: 2px;
}

.saved-build-container-changeName .edit-icon {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.saved-build-container-changeName input {
    /* display: none; */
    width: 100%;
    /* padding: 2px; */
    border: none;
    /* border-bottom: 1px solid black; */
    border-radius: 2px;
    font-size: inherit;
    font-family: inherit;
    /* margin-left: 10px; */
}

.saved-build-container-changeName input:focus {
    /* outline: none; */
    /* border-bottom-color: blue; */
    background: #FFFFFF;
}

.edit-button-container-changeName {
    position: relative;
    width: 100%;
    flex-shrink: 0;
    margin-left: 10px;
    max-width: 50px;
    /* margin-top: px; */
}

.edit-button-changeName {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    background: none;
}



.bottom-right-image-changeName {
    width: 20px;
    height: 20px;
}

.bottom-right-image {
    position: relative;
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
}

.bottom-iconbar-opaque {
    background-color: var(--bg-color);
    opacity: 1;
}


/* Spec sheet  */
.spec-row {
    background-color: var(--subtext-color-light-grey);
}

.margin-left-name-button {
    margin-top: 2;
    margin-left: 10px;
}

.field {
    display: inline-block;
    width: 120px;
    background-color: var(--misc-color-turqblu);
    margin-right: 10px;
    text-align: left;
    font-weight: bold;
}


.notification {
    position: fixed;
    opacity: 0;
    /* bottom: 7%; */
    left: 5%;
    right: 5%;
    /* transform: translate(-50%, -50%); */
    /* width: 100%; */
    /* max-width: 250px; */
    /* padding: 4px; */
    /* border-radius: 7px; */
    /* background-color: var(--subtext-color-light-grey); */
    /* text-align: center; */
    z-index: 9999;
    animation-name: notification;
    animation-duration: 4s;
    animation-iteration-count: 1;
    pointer-events: none;
    /* animation-delay: 3s; */
    /* Delay before starting the animation */
}

.margin-bottom-config-buttons {
    margin-bottom: 10em;
}

.margin-top-edit-button {
    margin-top: 30px;
}

.notification-button {
    background-color: #ffff52;
    border: none;
    border-radius: 7px;
}

@keyframes notification {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    96% {
        opacity: 1;
        transform: translate(0%, 0%);
    }

    99% {
        opacity: 0;
        transform: translate(0%, 0%);
    }

    100% {
        opacity: 0;
        transform: translate(-500%, -200%);
        /* transform: translate(-50%, -200%); */
        /* Move the notification out of the viewport */
    }
}

.save-notification {
    position: fixed;
    opacity: 0;
    /* bottom: 7%; */
    left: 5%;
    right: 5%;
    pointer-events: none;
    /* transform: translate(-50%, -50%); */
    /* width: 100%; */
    /* max-width: 250px; */
    /* padding: 4px; */
    /* border-radius: 7px; */
    /* background-color: var(--subtext-color-light-grey); */
    /* text-align: center; */
    z-index: 9999;
    animation-name: save-notification;
    animation-duration: 4s;
    animation-iteration-count: 1;
    /* animation-delay: 3s; */
    /* Delay before starting the animation */
}


.save-notification-button {
    background-color: #ffff52;
    border: none;
    border-radius: 7px;
}

#loading_window{
    position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    text-align: center;
    z-index: 1;
    opacity: 0;
}

#loading_window img{
    width: 75px;

}

#loading_window h1{
    margin-bottom: 70px;
}

#circle_text{
    letter-spacing: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#rotating_container{
    animation: rotate360 5s linear infinite;
    transform-origin: 50% 50%;
    position: relative;

}

@keyframes rotate360 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}




/* .checkbox_container {
    margin-bottom: 1vh;
}


.checkbox_container label {
    display: flex;
    align-items: center;
}

.checkbox_container input[type="checkbox"],
.checkbox_container input[type="radio"] {
    position: relative;
    top: 2px;
    margin-left: 2vh;
} */

@keyframes save-notification {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    96% {
        opacity: 1;
        transform: translate(0%, 0%);
    }

    99% {
        opacity: 0;
        transform: translate(0%, 0%);
    }

    100% {
        opacity: 0;
        transform: translate(-500%, -200%);
        /* transform: translate(-50%, -200%); */
        /* Move the notification out of the viewport */
    }
}

.floating-button {
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 9999;
    /* Ensures the button appears on top of other elements */
}

.floating-button :hover{
    background-color: var(--hovered-btn-color-tropblu);
}
/*when screen larger than 768px make icon-bar disappear */
@media screen and (min-width: 768px) {
    #icon-bar {
        display: none;
    }
}