:root {
    --bg-color: #1C1D23;
    --text-color-white: #FFFFFF;
    --subtext-color-light-grey: #868785;
    --heading-color-burgundysos: #D45A48;
    --primary-btn-color-blue: #2474A1;
    --hovered-btn-color-tropblu: #4BBDAC;
    --misc-color-turqblu: #336E6F;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.subtext {
    color: var(--subtext-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
}

.btn-primary {
    background-color: var(--primary-btn-color);
    color: var(--text-color);
}

.btn-primary:hover {
    background-color: var(--hovered-btn-color);
}

.misc {
    color: var(--misc-color);
}



/* //////////////////////////////
            Partials 
////////////////////////////// */

/* User icon */
.icons {
    width: 20%;
}